
<div th:fragment="header">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">
        <img th:src="@{/images/logo.png}" alt="" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" th:href="@{/}">Accueil</a>
          </li>
          <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
          <li>|</li>
          <li class="nav-item"><a class="nav-link"  th:href="@{/articles}">Articles</a></li>
          <li>|</li>
          <li class="nav-item"><a class="nav-link"  th:href="@{/admin}">Admin. Area!</a></li>
          <li>|</li>
        </ul>
      </div>


      <!-- Login/Logout -->
      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown login-dropdown">
          <span th:if="${logged == ''}">
            <!--  <a th:href="@{/login}" class="nav-item nav-link"> <i class="fa fa-sign-in"></i> Login </a>-->
            <a href="#loginModal" class="nav-item nav-link " data-toggle="modal"><i class="fa fa-user-o"></i> Login</a>
          </span>


          <span th:text="${logged}" class="user-title"></span>

          <span th:if="${logged != ''}">
            <a th:href="@{/logout}" class="nav-item nav-link"> <i class="fa fa-sign-out"></i> Logout </a>
          </span>
        </div>
      </div>
    </nav>
  </header>

  <div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img th:src="@{/images/user.png}" alt="avatar" />
          </div>
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div th:replace="../templates/login-form::login-form"></div>
        </div>
        <div class="modal-footer">
          <a href="#createModal" class="nav-item nav-link" data-dismiss="modal" data-toggle="modal" ><i class="fa fa-user"></i>Inscription</a>
        </div>
      </div>
    </div>
  </div>
  <div id="createModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img th:src="@{images/user.png}"  alt="avatar" />
          </div>
          <h4 class="modal-title">Create</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div th:replace="../templates/signup-form::signup-form"></div>
        </div>
        <!-- 			<div class="modal-footer">
                        <a href="#loginModal" class="nav-item nav-link" data-dismiss="modal" data-toggle="modal" ><i class="fa fa-user"></i>Login</a>
                    </div> -->
      </div>
    </div>
  </div>
</div>

