<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{../templates/layout :: layout (~{::body},'articles')}">
<body>


<div role="main" class="container">
    <h3>Spring Boot - About</h3>
    <div class="alert alert-warning">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur corporis hic id iste magni minus modi nobis numquam officia placeat possimus quidem, quos repellat ullam? Aut modi quas quisquam!
    </div>
</div>

</body>
</html>