<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{../templates/layout :: layout (~{::body},'articles')}">
<body>


<div role="main" class="container">
    <div th:replace="../templates/login-form::login-form"></div>

    <div style="max-width: 30%;margin: auto;">
        <a style="font-size: 120%; padding: 10px;" href="#createModal" class="nav-item nav-link" data-dismiss="modal" data-toggle="modal" ><i class="fa fa-user"></i> Inscription</a>
    </div>

</div>

</body>
</html>